<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>adopt</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!--table-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> <!--hz-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!--scroller-->
  </head>
  <body>
    <header>
        <a href="/">home</a>
        <a href="login">login</a>
        <a href="adopt">adopt</a>
        <a href="articles">articles</a>
        <a href="help">help</a>
    </header>
    <div class="container">
      <div class="row">
        <br />
        <h2 align="center">look at those beautiful pets!</h2>
        <br />
        <div class="col-md-3">
          <div class="list-group">
            <h3>Age</h3>
            <input type="hidden" id="hidden_minimum_age" value="1" />
            <input type="hidden" id="hidden_maximum_age" value="10" />
            <p id="age_show">1 - 10</p>
            <div id="age_range"></div>
          </div>
          <div class="list-group">
            <h3>Sex</h3>
            <select class="select_param">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="all">All</option>
            </select>
          </div>
          <div class="list-group">
            <h3>Color</h3>
            <select class="select_param">
              <option value="black">Black</option>
              <option value="red">Red</option>
              <option value="white">White</option>
              <option value="colorful">Colorful</option>
              <option value="all">All</option>
            </select>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row filter_data"></div>
        </div>
      </div>
    </div>
    <style>
      #loading {
        text-align: center;
        background: url('static/loading.gif') no-repeat center;
        height: 150px;
      }
    </style>
<script>
    $(document).ready(function(){
        filter_data();
        function filter_data()
        {
            $('.filter_data').html('<div id="loading" style="" ></div>');
            var action = 'fetch_data';
            var minimum_age = $('#hidden_minimum_age').val();
            var maximum_age = $('#hidden_maximum_age').val();
            $.ajax({
                url:"/fetchrecords",
                method:"POST",
                data:{action:action, minimum_age:minimum_age, maximum_age:maximum_age},
                success:function(data){
                    $('.filter_data').html(data);
                    $(".filter_data").append(data.htmlresponse);
                }
            });
        }
        $('#age_range').slider({
            range:true,
            min:1,
            max:10,
            values:[1, 10],
            step:1,
            stop:function(event, ui)
            {
                $('#age_show').html(ui.values[0] + ' - ' + ui.values[1]);
                $('#hidden_minimum_age').val(ui.values[0]);
                $('#hidden_maximum_age').val(ui.values[1]);
                filter_data();
            }
        });
    });
    </script>
  </body>
</html>