<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>articles</title>
</head>
<body>
    <header>
        <a href="/">home</a>
        <a href="login">login</a>
        <a href="adopt">adopt</a>
        <a href="articles">articles</a>
    </header>
    <h1 align="center">articles</h1>
    <div>
        {% for article in articles %}
        <div class="article">
            <h3>{{ article.article_name }}</h3>
            <p>{{ article.article_text }}</p>
            <p><strong>Author:</strong> {{ article.article_author }}</p>
            <p><strong>Date:</strong> {{ article.article_date }}</p>
        </div>
    {% endfor %}
    </div>
    <!-- <h3>article data: {{ value }}<h3></h3> -->
    <footer>
        <a href="create_article">Create article</a>
    </footer>
</body>
</html>