<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>article approve</title>
    <script type="text/javascript">
        function handleBeforeUnload(event) {event.returnValue = 'Are you sure you want to leave? All data will be lost.';}
        window.addEventListener('load', function () {
            window.addEventListener('beforeunload', handleBeforeUnload);
            var buttons = document.querySelectorAll('button');
            buttons.forEach(function (button) {button.addEventListener('click', function () {window.removeEventListener('beforeunload', handleBeforeUnload);});});
        });
    </script>
</head>
<body>
    <header>
        <a href="/">home</a>
        <a href="login">login</a>
        <a href="adopt">adopt</a>
        <a href="articles">articles</a>
        <h3>currently signed as: {{ value.login }}</h3>
    </header>
    <h1 align="center">article approve</h1>
    {% if value.article_name and value.article_text and value.article_author and value.article_date and value.login%}
    <div class="article">
        <h3>{{ value.article_name }}</h3>
        <p>{{ value.article_text }}</p>
        <p><strong>Author:</strong> {{ value.article_author }}</p>
        <p><strong>Date:</strong> {{ value.article_date }}</p>
        <form method="post" action="/approve_article">
            <button type="submit" name="action" value="approve">Approve</button>
            <button type="submit" name="action" value="reject">Reject</button>
        </form>
    </div>
    {% else %}
    <p>No article to display. or not signed in</p>
    {% endif %}
</body>
</html>